@{
    ViewData["Title"] = "Feedback primit";
}
    <h2>Feedback primit</h2>

<p>Vă mulțumim pentru interes și pentru timpul acordat! </p>
<p>Vă garantăm că părerea dvs. va fi luată în considerare!</p>