
@{
    ViewData["Title"] = "Comandă plasată";
}
<h2>Comandă plasată cu succes!</h2>

<p>Vă mulțumim pentru încrederea acordată!</p>
<p>Veți fi contactat de către unul dintre colegii noștri, cât mai curând!</p>

<br />
<p>
    Doriți să plasați altă comandă?
    <a href="/">Click aici</a>
</p>

<p>
    Verificați detaliile comanzii plasate:
    <a href="/order/myordercontent">Click aici</a>
</p>
