@{ 
    ViewData["Title"] = "Contact";
}
<h2>Contactează-ne!</h2>

<div>
    <div class="float-left">
        <p>Dacă aveți sugestii sau reclamații, nu ezitați să ne contactați!</p>
        <h4> Program:</h4>
        <h6> Luni - Vineri: 9:30 - 18:00 </h6>
        <h6> Sâmbătă - Duminică: 10:00 - 3:00</h6>
        <h4> Adresa: </h4>
        <h6> Strada Mihai Eminescu, numărul 11, Sector 1, București</h6>
        <p>De asemenea, ne puteți contacta telefonic: <b>0768970023</b>!</p>
    </div>
    <div class="float-right">
        <img src="~/img/carousel-4.jpg" draggable="false" class="float-right card" id="boxshadow"/>
    </div>
</div>
