<a class="nav-link dropdown-toggle" href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Bun venit, @(User.Identity.Name ?? "Vizitatorule")!
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">
    @if (!User.Identity.IsAuthenticated)
    {
        <a asp-action="Login" asp-controller="Account" class="dropdown-item">Login</a>
        <a asp-action="Register" asp-controller="Account" class="dropdown-item">Înregistare</a>
    }
    else
    {
        <a asp-action="MyOrderContent" asp-controller="Order" class="dropdown-item">Comenzile mele</a>
        <form method="post" asp-action="Logout" asp-controller="Account">
            <button class="dropdown-item">Logout</button>
        </form>

        if (User.IsInRole("Admin"))
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="AllOrders" asp-controller="Management">Organizează Comenzi</a>
            <a class="dropdown-item" asp-action="ManageProduct" asp-controller="Management">Organizează Produse</a>
        }

        if (User.IsInRole("Manager"))
        {
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" asp-action="ManageProduct" asp-controller="Management">Organizează Produse</a>
        }
    }
</div>